img {
  width: 80%;
  height: 60%;
  background-color: gray;
  margin: 10px;
}

.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 50px;
  padding: 10px;
  color: rgb(143, 0, 0);
}

.movie-card {
  width: 30%;
  height: auto;
  background-color: rgb(236, 236, 236);
  color: rgb(68, 68, 68);
  border-radius: 10px;
  box-shadow: 0 10px 10px black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  background-color: rgba(223, 146, 4, 0.788);
}

h2,
p {
  background-color: rgb(20, 20, 18);
}
