img {
    width: 80%;
    height: 60%;
    background-color: gray;
    margin: 10px;
}

.movie-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 50px;
    padding: 10px;
}

.movie-card {
    width: 30%;
    height: auto;
    background-color: beige;
    color: rgb(68, 68, 68);
    border-radius: 10px;
    box-shadow: 0 10px 10px black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    background-color: white;
}

h2, p {
    background-color: beige;
}